@import "./tailwind.scss";
@import "./fonts";

@layer base {
  :root {
    --color-secondary: rgba(207, 188, 233, 0.46);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "DM Serif Display", serif;
  }

  p,
  li {
    font-family: "DM Serif Text", serif;
  }
}